/* Center Text */
div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Style My Name */
.name {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 76px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    width: 33.33%;
    text-align: center;
    transition: 0.3s;
    white-space: nowrap;
}

.links a:hover {
    color: #999;
}